/target
/classes
/checkouts
*.jar
*.class
/.cpcache
/.lein-*
/.nrepl-history
/.nrepl-port
.hgignore
.hg/
.calva/output-window/
.lsp/sqlite*.db
node_modules/
.shadow-cljs/
cljs-out/
taplet-1.0.53.pom.asc
